.detail-tutor {
  display: grid;
  grid-template-columns: 1fr;
  margin-top: 30px;
  margin-bottom: 10px;
  gap: 20px;
  /* row-gap: 50px; */
  perspective: 800px;
}

.detail-tutor img {
  width: 200px; 
  height: 250px; 
  object-fit: cover; 
  border-radius: 15px 15px 0px 0px;
  transition: transform 0.3s;
}

.detail-tutor-list {
  margin-left: 10px;
  margin-right: 10px;
  border-radius: 15px;
  box-shadow: 0px 0px 10px #8f0b0b15;
  transition: transform 0.3s;
  perspective: 800px;
}

.detail-tutor .btn-container {
  display: flex;
  justify-content: space-evenly;
  margin: 10px 0;
}

.detail-tutor .btn-container button {
  padding: 4px 10px;
  font-size: 16px;
  font-weight: 500;
  color: white;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transform: background-color 0.2s, opacity 0.2s;
}

.detail-tutor .btn-container .select {
  background-color: rgb(23, 117, 23);
}

.detail-tutor .btn-container .cancel {
  background-color: rgb(182, 22, 22);
}

.detail-tutor .btn-container .select:hover {
  opacity: 0.8;
  background-color: rgb(8, 84, 8);
}

.detail-tutor .btn-container .cancel:hover {
  opacity: 0.8;
  background-color: rgb(142, 17, 17);
}
